{% if pageCount > 1 %}
    <nav>
        {% set classAlign = (align is not defined) ? '' : align=='center' ? ' justify-content-center' : (align=='right' ? ' justify-content-end' : '') %}
        {% set classSize = (size is not defined) ? '' : size=='large' ? ' pagination-lg' : (size=='small' ? ' pagination-sm' : '') %}
        <div class="btn-group mb-0{{ classAlign }}{{ classSize }}" role="group" aria-label="Pagination">

            {% if previous is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="btn btn-secondary" role="button" aria-label="Previous">
                    <i class="bi bi-chevron-left"></i>
                </a>
            {% else %}
                <button type="button" class="btn btn-secondary disabled" aria-disabled="true">
                    <i class="bi bi-chevron-left"></i>
                </button>
            {% endif %}

            {% if startPage > 1 %}
                <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}" class="btn btn-secondary" role="button">1</a>
                {% if startPage == 3 %}
                    <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}" class="btn btn-secondary" role="button">2</a>
                {% elseif startPage != 2 %}
                    <button type="button" class="btn btn-secondary disabled" aria-disabled="true">&hellip;</button>
                {% endif %}
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="btn btn-secondary" role="button">{{ page }}</a>
                {% else %}
                    <button type="button" class="btn btn-secondary active" aria-current="page">{{ page }}</button>
                {% endif %}
            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <button type="button" class="btn btn-secondary disabled" aria-disabled="true">&hellip;</button>
                    {% else %}
                        <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}" class="btn btn-secondary" role="button">{{ pageCount -1 }}</a>
                    {% endif %}
                {% endif %}
                <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}" class="btn btn-secondary" role="button">{{ pageCount }}</a>
            {% endif %}

            {% if next is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="btn btn-secondary" role="button" aria-label="Next">
                    <i class="bi bi-chevron-right"></i>
                </a>
            {% else %}
                <button type="button" class="btn btn-secondary disabled" aria-disabled="true">
                    <i class="bi bi-chevron-right"></i>
                </button>
            {% endif %}
        </div>
    </nav>
{% endif %}
