<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Kerrial Newham{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/kn.ico') }}" />
    {% block metatags %}
        <meta name="description" content="PHP Legacy migration specialist, migrate safely without breaking the bank." />
        <meta property="og:image" content="{{ asset('images/kn.ico') }}" />
        <meta property="og:title" content="Kerrial Newham - PHP Migration Specialist" />
        <meta property="og:description" content="PHP Legacy migration specialist, migrate safely without breaking the bank." />
    {% endblock %}

    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/atlas.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    {% endblock %}


    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
                integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
                crossorigin="anonymous"></script>
        {% block importmap %}{{ importmap('app') }}{% endblock %}

        {% if app.environment == 'prod' %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-D1ECWLQDQ1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'G-D1ECWLQDQ1');
        </script>
        {% endif %}
    {% endblock %}
</head>
<body>

<div data-controller="scroll-progress" class="h-2 bg-grey position-fixed top-0 z-3"></div>

{% for message in app.flashes('message') %}
    <div class="text-bg-dark py-3 text-center" role="alert">
        {{ message }}
    </div>
{% endfor %}

{{ include('partial/_navbar.html.twig') }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card mb-5 bg-light border-info" role="alert">
                <div class="card-body">
                    <h4 class="alert-heading">Migration Services</h4>
                    <hr class="m-1"/>
                    <p>Need to migrate your PHP legacy system to a new framework quickly and without breaking the bank?
                        Get in touch—I'd be happy to help.</p>
                    <div class="text-end">
                        <a href="{{ path('contact') }}" class="btn btn-outline-dark rounded-pill">
                            contact me now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="z-1">
    {% block body %}{% endblock %}
</div>
</body>
</html>
